/**
 * Vehicles.
 */

.vehicle {
  width: 100%;
  margin: 16px 0;
  padding: 0 8px;
  .vehicle__container {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 450px;
    .vehicle__image {
      img {
        width: 100%;
      }
    }
    .vehicle__info {
      padding: 0 16px;
      .vehicle__title {
        border-bottom: 2px solid $button-background;
      }
      .field,
      p {
        display: inline;
      }
    }
  }
}
.block-views-blockvehicles--block-1 {
  .row-2 {
    @media (max-width: $screen-xs-max) {
      position: relative;
      bottom: 33px;
    }

  }
}