/**
 * @file
 * Module styling for update_notifier.
 */

/* User page */
.user_page {
  border: 2px solid #008080;
}
.user_page__title {
  width: 100%;
  margin: 30px 0 20px 0;
  border-bottom: 2px solid #008080;
}
.content_name {
  font-weight: bold;
  font-size: inherit;
}
.content_info {
  position: relative;
  right: 180px;
}
#update_notifier_products_followed_list {
  margin-bottom: 20px;

}
#update_notifier_products_followed_list tr {
  padding: 10px 0;
}
#update_notifier_products_followed_list th {
  text-align: center !important;
  padding: 5px !important;
  width: 320px;
}
#update_notifier_products_followed_list td {
  width: 320px;
}
#update_notifier_products_followed_list a.update_notifier_form_button--edit {
  margin: 0 0 10px 77px;
}
#update_notifier_products_followed_list a.update_notifier_form_button--unfollow {
  margin: 0 0 10px 112px;
}

/* Unfollow form */
#unfollow_form div.help-block {
  position: relative;
  bottom: 33px;
  color: #000000;
}
#unfollow_form input#edit-submit {
  width: 190px;
}
#unfollow_form input#edit-edit-notifications {
  width: 195px;
  position: relative;
  right: 20px;
}
#unfollow_form div#edit-title label{
  border-bottom: 2px solid #008080;
  font-size: 30px;
}
#unfollow_form span.form-optional{
  display: none;
}
#unfollow_form div#edit-confirm-unfollow--description{
  font-size: 15px;
}

/* Follow form */
#follow_form span.form-optional{
  display: none;
}
#follow_form div#edit-title label{
  border-bottom: 2px solid #008080;
  font-size: 30px;
}
#follow_form span.form-required{
  color: #000000;
  border-bottom: 2px solid #008080;
}
#follow_form legend{
  border-bottom: none;
}
#follow_form details#edit-notifications summary{
  border-bottom: 2px solid #008080;
  font-weight: bold;
}
#follow_form details#edit-notifications div.details-description{
  font-size: 15px;
}
#follow_form div#edit-agree--description{
  position: relative;
  bottom: 33px;
  color: #000000;
  font-size: 15px;
}
