{#
/**
 * @file follow.html.twig
 * Default theme implementation to present Follow data.
 *
 * This template is used when viewing Follow pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_follow()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('follow') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
