/**
 * Store Location.
 */

// Have styling apply to full pages of type store locations.
.node--type-store-locations.node--view-mode-full {

  //mixins
  @mixin title-border($radius) {
    border-top: 2px solid $header-top;
    border-bottom: 2px solid $header-top;
    width: $radius;
  }

  // Field styles.
  .page-title {
    @include title-border(33%);
  }

  .node__content__about {
    h2 {
      border-bottom: 2px solid $header-top;
      width: 45%;
    }
  }

  .node__content__details {
    h2 {
      border-bottom: 2px solid $header-top;
      width: 58%;
    }
  }

  .field--name-field-phone-number {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .field--name-field-company-email {
    margin-bottom: 25px;
  }

  .node__content__map {
    h2 {
      border-bottom: 2px solid $header-top;
      width: 20%;
    }
  }

  .field--name-field-address {
    margin-bottom: 20px;
  }

  .node__content__map {
    .field--name-field_google_map {
      width: 100%;
    }
  }

  // Mobile only styles.
  @media(max-width: $screen-sm-max) {
    h2 {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 5px solid $gray-darker;
    }
  }
}

.block-block-content01e36138-8287-4f89-8f3b-07fa8a524926 {
  margin-bottom: -40px;
}

// Teasers.
.node--type-store-locations.node--view-mode-teaser {
  padding-bottom: 15px;
  border-bottom: 5px solid $gray-darker;

  // Field styles.
  .field--name-field-page-header-image {
    margin-bottom: 15px;
  }

  // Styling for email field
  .field--name-field-company-email {
    margin-bottom: 15px;
  }

  // Styling for read more button.
  .node-readmore {
    padding: 0;

    a {
      padding: 3px 6px;
      font-size: 18px;
      color: $c-primary;
      background-color: $button-background;
      border: 1px solid $button-border;
      border-radius: $border-radius;

      &:hover, &:focus {
        background-color: darken($button-background, 10%);
        border-color: darken($button-border, 10%);
      }
    }
  }
}